@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #C49B66;   /* warm golden brown */
  --color-secondary: #F6C453; /* sunshine gold */
  --color-accent: #FFF8E7;    /* soft cream background */
  --color-dark: #3E2F1C;      /* rich chocolate brown */
}

* {
  font-family: Outfit, sans-serif;
}

.font-playfair {
  font-family: "Playfair", serif !important;
}

